.env
data/
dataset/
training/
features/
models/
.cache/
poly-monitor/.cache/
poly-monitor/frontend/node_modules/
poly-monitor/frontend/dist/
venv/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.pyzwzwzwzw
