.env
data/
dataset/
training/
features/
models/
poly-monitor/frontend/node_modules/
poly-monitor/frontend/dist/

venv/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwzw
*.pyzwzwzwzw